{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    tr {
        vertical-align: top;
    }
</style>

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            
            <div class="peristant-info-banner">
                <div class="peristant-info-banner-content">9012466 <span class="bold">Billy SMITH</span></div>
            </div>
        </div>
    </div>

    <div class="grid-row top_30">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge top_0 bottom_30">Add or change income</h1>
            
            <p>You don’t need to enter all details from the MC100.</p>
            <p>Please enter only the following:</p>
            
            <form class="form" action="" method="post">
                
                <label class="form-label-bold" for="defendant-net-income">Net income</label>
                <div class="input-icon">
                    <i>£</i>
                    <input class="form-control" id="defendant-net-income" type="number" min="0.00" step="0.01" name="defendant-net-income" value="{{ data['defendant-net-income'] }}">
                </div>
            
                <div class="form-group top_30">
                    <fieldset>
                      <legend>
                        <span class="form-label-bold">
                          Frequency of income and outgoings
                        </span>
                        <span class="form-hint">Check the form to see what the defendant has ticked</span>
                      </legend>
                        <div class="multiple-choice">
                            <input id="defendant-income-frequency-1" type="radio" name="defendant-income-frequency-group" value="Weekly" {{ checked('defendant-income-frequency-group','Weekly') }}>
                            <label for="defendant-income-frequency-1">Weekly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="defendant-income-frequency-2" type="radio" name="defendant-income-frequency-group" value="Fortnightly" {{ checked('defendant-income-frequency-group','Fortnightly') }}>
                            <label for="defendant-income-frequency-2">Fortnightly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="defendant-income-frequency-2" type="radio" name="defendant-income-frequency-group" value="Monthly" {{ checked('defendant-income-frequency-group','Monthly') }}>
                            <label for="defendant-income-frequency-2">Montly</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="defendant-income-frequency-2" type="radio" name="defendant-income-frequency-group" value="Annually" {{ checked('defendant-income-frequency-group','Annually') }}>
                            <label for="defendant-income-frequency-2">Annually</label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group top_30">
                    <fieldset>
                        <legend>
                            <span class="form-label-bold">Employement status</span>
                            <span class="form-hint">Choose employed if they do any work for an employer</span>
                        </legend>

                        <div class="multiple-choice">
                            <input id="defendant-employment-status-1" type="radio" name="defendant-employment-status-group" value="Employed (full or part-time)" {{ checked('defendant-employment-status-group','Employed (full or part-time)') }}>
                            <label for="defendant-employment-status-1">Employed (full or part-time)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="defendant-employment-status-2" type="radio" name="defendant-employment-status-group" value="Self-employed" {{ checked('defendant-employment-status-group','Self-employed') }}>
                            <label for="defendant-employment-status-2">Self-employed</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="defendant-employment-status-3" type="radio" name="defendant-employment-status-group" value="Unemployed" {{ checked('defendant-employment-status-group','Unemployed') }}>
                            <label for="defendant-employment-status-3">Unemployed</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="defendant-employment-status-4" type="radio" name="defendant-employment-status-group" value="Company representative" {{ checked('Company representative','Employed (full or part-time)') }}>
                            <label for="defendant-employment-status-4">Company representative</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="defendant-employment-status-5" type="radio" name="defendant-employment-status-group" value="Other (for example, retired, student)" {{ checked('defendant-employment-status-group','Other (for example, retired, student)') }}>
                            <label for="defendant-employment-status-5">Other (for example, retired, student)</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="defendant-employment-status-6" type="radio" name="defendant-employment-status-group" value="Don’t know or not applicable" {{ checked('defendant-employment-status-group','Don’t know or not applicable') }}>
                            <label for="defendant-employment-status-6">Don’t know or not applicable</label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group top_30">
                    <fieldset>
                        <legend>
                            <span class="form-label-bold">Is the defendent claiming benefits?</span>
                            <span class="form-hint">Do not include child benefit</span>
                        </legend>

                        <div class="multiple-choice">
                            <input id="defendant-claiming-benefits-1" type="radio" name="defendant-claiming-benefits-group" value="Yes" {{ checked('defendant-claiming-benefits-group','Yes') }}>
                            <label for="defendant-claiming-benefits-1">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="defendant-claiming-benefits-2" type="radio" name="defendant-claiming-benefits-group" value="No" {{ checked('defendant-claiming-benefits-group','No') }}>
                            <label for="defendant-claiming-benefits-2">No</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="defendant-claiming-benefits-3" type="radio" name="defendant-claiming-benefits-group" value="Dont' know / not applicable" {{ checked("defendant-claiming-benefits-group","Dont' know / not applicable") }}>
                            <label for="defendant-claiming-benefits-3">Dont' know / not applicable</label>
                        </div>
                    </fieldset>
                </div>
                            
                <div class="form-group top_30">
                    <fieldset>
                        <legend>
                            <span class="form-label-bold">National Insurance number</span>
                            <span class="form-hint">For example, V0 12 34 56 D</span>
                        </legend>
                        <input class="form-control" id="defendant-nin" type="text" name="defendant-nin" value="{{data['defendant-nin']}}">
                    </fieldset>
                </div>
                            
                <form class="form top_30" action="" method="post">
                    <input class="button" type="submit" value="Save and continue">
                    <p class="top_15"><a href="case-details.html">Cancel - go back to case</a></p>
                </form>
                
            </form>
            
        </div>
        
        <div class="coloumn-one-third">
            <!-- RIGHT COLUMN NAVIGATION - VARIATION FIVE -->
            <!--
            <div class="right-column-nav">
                <hr class="bold-hr">
                <h3 class="heading-medium">Case options</h3>
                <p><a href="">Withdraw offence</a></p>
            </div>
            -->
        </div>
    </div>

</main>

{% endblock %}


