{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    
    tr {
        vertical-align: top;
    }
    
</style>

<script>
    
    window.onload = function() {
                
    }
    
</script>

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            {% include "includes/persist-info-banner.html" %}
        </div>
    </div>

    <div class="grid-row top_30">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge top_0 bottom_30">Add or change personal details</h1>
            
            <p class="top_30">Keep these personal details up to date.</p>
            
            <form class="form" action="" method="post">
                
                <p class="bold top_30">Personal details</p>

                <div class="form-group bottom_0">
                    <fieldset>
                        <label class="form-label" for="defendant-title">Title (optional)</label>
                        <input class="form-control" id="defendant-title" type="text" name="defendant-title" value="{{data['defendant-title']}}">
                    </fieldset>
                </div>

                <div class="form-group bottom_0">
                    <fieldset>
                        <label class="form-label top_15" for="defendant-first-name">First name</label>
                        <input class="form-control" id="defendant-first-name" type="text" name="defendant-first-name" value="{{data['defendant-first-name']}}">
                    </fieldset>
                </div>

                <div class="form-group bottom_0">
                    <fieldset>
                        <label class="form-label top_15" for="defendant-last-name">Last name</label>
                        <input class="form-control" id="defendant-last-name" type="text" name="defendant-last-name" value="{{data['defendant-last-name']}}">
                    </fieldset>
                </div>
                
                <!-- Date of birth -->
                <div class="form-group top_15">
                    <fieldset>

                        <legend>
                            <span class="form-label">
                                Date of birth
                            </span>
                        <span class="form-hint">For example, 31 3 1980</span>
                        </legend>
                        <div class="form-date">
                            <div class="form-group form-group-day">
                                <label class="form-label" for="defendant-dob-day">Day</label>
                                <input class="form-control" id="defendant-dob-day" name="defendant-dob-day" type="number" pattern="[0-9]*" value="{{data['defendant-dob-day']}}">
                            </div>
                            <div class="form-group form-group-month">
                                <label class="form-label" for="defendant-dob-month">Month</label>
                                <input class="form-control" id="defendant-dob-month" name="defendant-dob-month" type="number" pattern="[0-9]*" value="{{data['defendant-dob-month']}}">
                            </div>
                            <div class="form-group form-group-year">
                                <label class="form-label" for="defendant-dob-year">Year</label>
                                <input class="form-control" id="defendant-dob-year" name="defendant-dob-year" type="number" pattern="[0-9]*" value="{{data['defendant-dob-year']}}">
                            </div>
                        </div>
                    
                    </fieldset>
                </div>

                <div class="form-group top_60 bottom_0">
                    <fieldset>
                        
                        <p class="bold">Address</p>

                        <label class="form-label" for="new-address">Address</label>
                        <input class="form-control" id="defendant-address-line-1" type="text" name="defendant-address-line-1" value="{{data['defendant-address-line-1']}}">
                        
                        <input class="form-control top_5" id="defendant-address-line-2" type="text" name="defendant-address-line-2" value="{{data['defendant-address-line-2']}}">
                        
                        <input class="form-control top_5" id="defendant-address-line-3" type="text" name="defendant-address-line-3" value="{{data['defendant-address-line-3']}}">

                        <label class="form-label top_15" for="new-address-city">Town or city</label>
                        <input class="form-control" id="defendant-address-city" type="text" name="defendant-address-city" value="{{data['defendant-address-city']}}">

                        <label class="form-label top_15" for="new-address-postcode">Postcode</label>
                        <input class="form-control" id="defendant-address-ostcode" type="text" name="defendant-address-postcode" value="{{data['defendant-address-postcode']}}">

                    </fieldset>
                </div>
                
                 <div class="form-group top_60 bottom_0">
                    <fieldset>
                        
                        <p class="bold top_60">Email and telephone</p>

                        <label class="form-label" for="defendant-email">Email</label>
                        <input class="form-control" id="defendant-email" type="text" name="defendant-email" value="{{data['defendant-email']}}">

                        <label class="form-label top_15" for="defendant-telephone">Home telephone</label>
                        <input class="form-control" id="defendant-telephone" type="text" name="defendant-telephone" value="{{data['defendant-telephone']}}">

                        <label class="form-label top_15" for="defendant-mobile">Mobile</label>
                        <input class="form-control" id="defendant-mobile" type="text" name="defendant-mobile" value="{{data['defendant-mobile']}}">
                        
                     </fieldset>
                </div>
                
                <form class="form" action="" method="post">
                    <input class="button top_30" type="submit" value="Save">
                    <div class="top_15"><a href="javascript:history.go(-1);">Cancel</a></div>
                </form>
                
            </form>
            
        </div>
        
        <div class="coloumn-one-third">
            <!-- RIGHT COLUMN NAVIGATION - VARIATION FIVE -->
            <!--
            <div class="right-column-nav">
                <hr class="bold-hr">
                <h3 class="heading-medium">Case options</h3>
                <p><a href="">Withdraw offence</a></p>
            </div>
            -->
        </div>
    </div>

</main>

{% endblock %}


