{% extends "layout-dashboard.html" %}

{% block page_title %}
  CJS CPP homepage template version two
{% endblock %}

{% block content %}

{% include "includes/homepage_header_template_2.html" %}

<main id="content" role="main">
        
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        
        <div class="column-two-thirds"> 
            
            <h2 class="heading-medium">Orders</h2> 
            <p class="top_15"><a href="find-and-print-orders-search.html">Find and print orders</a></p>
            
            <h2 class="heading-medium top_60">Information for the public</h2>
            <p class="top_15"><a href="print-list-of-cases-for-public-display.html">Print list of cases for public display</a></p>
            <p class="top_15"><a href="create-register-for-the-media.html">Create register for the media</a></p>

        </div>
        
        <!--
        <div class="column-one-third">
            <h2 class="heading-medium">Temporary links</h2> 
            <p><a href="billy-smith.html" title="">Upload and remove files flow</a></p>
        </div>
        -->
        
    </div>
    
</main>

{% endblock %}