{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<!-- ------- -->
<!-- OVERLAY -->
<style>
    tr {
        vertical-align: middle;
    }
</style>

<script>

    window.onload = function() {
        document.getElementById('pleaDocumentStatus').value = "off";
        document.getElementById('incomeDocumentStatus').value = "off";
        document.getElementById('otherDocumentStatus').value = "off";
        
        // document.getElementById('addPleaDocumentButton').style.display = "none";
        // document.getElementById('addIncomeDocumentButton').style.display = "none";
        // document.getElementById('addOtherDocumentButton').style.display = "none";
        
        document.getElementById('pleaDocumentGroup').style.display = "none";
        document.getElementById('incomeDocumentGroup').style.display = "none";
        document.getElementById('otherDocumentGroup').style.display = "none";
        document.getElementById('uploadDocumentsGroup').style.display = "none";

    }
    
    function uploadOverlay(whichDoc) {
        if (whichDoc == "plea") {
            document.getElementById('addPleaDocumentButton').style.display = "none";
            document.getElementById('pleaDocumentGroup').style.display = "block";
            document.getElementById('plea-upload').style.display = "block";
            document.getElementById('mc100-upload').style.display = "none";
            document.getElementById('other-upload').style.display = "none";
            document.getElementById('plea-document').value = "Plea document";
            document.getElementById('pleaDocumentStatus').value = "on";
        }
        if (whichDoc == "income") {
            document.getElementById('addIncomeDocumentButton').style.display = "none";
            document.getElementById('incomeDocumentGroup').style.display = "block";
            document.getElementById('plea-upload').style.display = "none";
            document.getElementById('mc100-upload').style.display = "block";
            document.getElementById('other-upload').style.display = "none";
            document.getElementById('income-document').value = "MC100";
            document.getElementById('incomeDocumentStatus').value = "on";
        }
        if (whichDoc == "other") {
            document.getElementById('otherDocumentGroup').style.display = "block";
            document.getElementById('plea-upload').style.display = "none";
            document.getElementById('mc100-upload').style.display = "none";
            document.getElementById('other-upload').style.display = "block";
            document.getElementById('other-document').value = "Other document";
            document.getElementById('otherDocumentStatus').value = "on";
        }
        document.getElementById('uploadDocumentsGroup').style.display = "block";
        document.getElementById("overlay2").style.display = "block";
    }
    
    function hideThis(whichOne) {
        document.getElementById(whichOne).style.display = "none";
        if (whichOne == "pleaDocumentGroup") {
            document.getElementById('addPleaDocumentButton').style.display = "block";
            document.getElementById('pleaDocumentStatus').value = "off";

        } else if (whichOne == "incomeDocumentGroup"){
            document.getElementById('addIncomeDocumentButton').style.display = "block";
            document.getElementById('incomeDocumentStatus').value = "off";
        } else if (whichOne == "otherDocumentGroup"){
            document.getElementById('otherDocumentStatus').value = "off";
        }
    }
    
</script>

<div id="overlay" onclick="off()">
    <div id="overlay-info">
        <h3 class="heading-medium top_0 bottom_15">Remove a file</h3>
        <p class="top_15 bottom_15">Are you sure you want to remove the following file?</p>        
        <table class="removeFileTable">
            <tbody>
                <tr>
                    <td class="bold">Name</td>
                    <td>Plea</td>
                </tr>
                <tr>
                    <td class="bold">Type</td>
                    <td>PDF, 256KB, 3 pages</td>
                </tr>
                <tr>
                    <td class="bold">Uploaded on</td>
                    <td>15 January 2018</td>
                </tr>
            </tbody>
        </table>
        <input class="button top_20 bottom_15" type="submit" value="Confirm and remove file" onclick="uploadRemoveRow1(); off()">
        <p class="remove-link bottom_0" onclick="off()">cancel</p>
    </div>
</div>

<div id="overlay2" onclick="off()">
    <div id="overlay-info-2">
        <img id="plea-upload" style="display:none" src="/public/images/upload-plea.png">
        <img id="mc100-upload" style="display:none" src="/public/images/upload-mc100.png">
        <img id="other-upload" style="display:none" src="/public/images/upload-other.png">
    </div>
</div>

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            {% include "includes/persist-info-banner.html" %}
        </div>
    </div>

    <div class="grid-row top_30">
        <div class="column-full">

            <form class="form" action="" method="post">
                
                <div style="display:none">
                    <p class="form-hint bottom_0">Plea document status: <input class="form-control form-control-1-4" id="pleaDocumentStatus" type="text" name="pleaDocumentStatus" value="{{data['pleaDocumentStatus']}}"></p>
                    <p class="form-hint bottom_0">Income document status: <input class="form-control form-control-1-4" id="incomeDocumentStatus" type="text" name="incomeDocumentStatus" value="{{data['incomeDocumentStatus']}}"></p>
                    <p class="form-hint">Other document status: <input class="form-control form-control-1-4" id="otherDocumentStatus" type="text" name="otherDocumentStatus" value="{{data['otherDocumentStatus']}}"></p>
                </div>

                <h1 class="heading-xlarge top_0 bottom_30">Choose documents to upload</h1>
                <p>If available you can upload any of the following:</p>
                <ul class="list list-bullet">
                    <li>a plea document</li>
                    <li>statement of income and outgoings (for example a MC100)</li>
                    <li>other documents (for example a bank statement, email or copy of a travelcard)</li>
                </ul>

                <!-- ADD PLEA DOCUMENT BUTTON -->
                <p id="addPleaDocumentButton" class="bottom_15"><span class="button-secondary" onclick="uploadOverlay('plea')">Add a plea document</span>

                <!-- PLEA DOCUMENT GROUP -->
                <div id="pleaDocumentGroup">
                    <hr class="bottom_15">
                    <h2 class="heading-medium bottom_0 top_0">Plea document ready to upload</h2>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" style="border-bottom:none; padding-bottom:0">Name</th>
                                <th scope="col" style="border-bottom:none; padding-bottom:0">Type</th>
                                <th scope="col" style="border-bottom:none; padding-bottom:0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label class="form-label" for="plea-document" style="display:none">Name</label>
                                        <input class="form-control form-control-3-4" id="plea-document" type="text" name="plea-document" value="{{data['plea-document']}}">
                                    </div>
                                </th>
                                <td style="vertical-align: middle">PDF, 256KB, 3 pages</td>
                                <td style="vertical-align: middle"><span class="dummy-link-2" onclick="hideThis('pleaDocumentGroup')">Remove</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- ADD INCOME DOCUMENT BUTTON -->            
                <p id="addIncomeDocumentButton" class="bottom_15"><span class="button-secondary" onclick="uploadOverlay('income')">Add statement of income and outgoings</span>

                <!-- INCOME DOCUMENT GROUP -->
                <div id="incomeDocumentGroup" class="top_15">
                    <h2 class="heading-medium bottom_0 top_0">Statement of income and outgoings ready to upload</h2>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" style="border-bottom:none; padding-bottom:0">Name</th>
                                <th scope="col" style="border-bottom:none; padding-bottom:0">Type</th>
                                <th scope="col" style="border-bottom:none; padding-bottom:0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label class="form-label" for="income-document" style="display:none">Name</label>
                                        <input class="form-control form-control-3-4" id="income-document" type="text" name="income-document" value="{{data['income-document']}}">
                                    </div>
                                </th>
                                <td style="vertical-align: middle">PDF, 256KB, 3 pages</td>
                                <td style="vertical-align: middle"><span class="dummy-link-2" onclick="hideThis('incomeDocumentGroup')">Remove</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- OTHER DOCUMENT GROUP -->
                <div id="otherDocumentGroup" class="top_15 bottom_30">
                    <h2 class="heading-medium bottom_0 top_0">Other document ready to upload</h2>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" style="border-bottom:none; padding-bottom:0">Name</th>
                                <th scope="col" style="border-bottom:none; padding-bottom:0">Type</th>
                                <th scope="col" style="border-bottom:none; padding-bottom:0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="form-group" style="margin-bottom: 5px">
                                        <label class="form-label" for="other-document" style="display:none">Name</label>
                                        <input class="form-control form-control-3-4" id="other-document" type="text" name="other-document" value="{{data['other-document']}}">
                                    </div>
                                </th>
                                <td style="vertical-align: middle">PDF, 256KB, 3 pages</td>
                                <td style="vertical-align: middle"><span class="dummy-link-2" onclick="hideThis('otherDocumentGroup')">Remove</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- ADD OTHER DOCUMENT BUTTON -->            
                <p id="addOtherDocumentButton" class="bottom_15"><span class="button-secondary" onclick="uploadOverlay('other')">Add other document</span>

                <!-- UPLOAD DOCUMENTS -->
                <div id="uploadDocumentsGroup" class="top_30">

                        <div class="form-group bottom_15">
                            <div class="grid-row">
                                <div class="column-two-thirds">
                                    <p class="bottom_15">After you’ve added all the files you want to upload to this case use the ‘Upload documents’ button to add them to the case.</p>
                                    <p class="bottom_0 top_0"><input class="button" type="submit" value="Upload documents"></p>
                                </div>
                            </div>
                        </div> 

                </div>
                
                <p class="top_15"><a href="javascript:history.go(-1);">Cancel - go back to case</a></p>

            </form>
            
            
        </div>
    </div>
</main>

{% endblock %}


