{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
    
    var numberOfFiles;
    var numberOfFilesAtStart;
    var pleaDocumentStatus;
    var incomeDocumentStatus;
    var otherDocumentStatus;
    
    window.onload = function() {
        
        numberOfFiles = document.getElementById('numberOfFiles').innerText;
        
        pleaDocumentStatus = document.getElementById('pleaDocumentStatus').innerText;
        incomeDocumentStatus = document.getElementById('incomeDocumentStatus').innerText;
        otherDocumentStatus = document.getElementById('otherDocumentStatus').innerText;
        
        if (pleaDocumentStatus == "on") {
            numberOfFiles = Number(numberOfFiles) + 1; 
            document.getElementById('row1').style.display = "table-row";
        }
        if (incomeDocumentStatus == "on") {
            numberOfFiles = Number(numberOfFiles) + 1; 
            document.getElementById('row2').style.display = "table-row";
        }
        if (otherDocumentStatus == "on") {
            numberOfFiles = Number(numberOfFiles) + 1; 
            document.getElementById('row3').style.display = "table-row";
        }
        
        document.getElementById('numberOfFiles').innerText = numberOfFiles;
        numberOfFilesAtStart = numberOfFiles;
    }
    
    function remove(x) {
        document.getElementById(x).style.display = "none";
    }

    
    var count2 = 0;
    function cancel(y) {
        document.getElementById("cancelled").style.display = "block";
        document.getElementById("row"+y).style.display = "none";
        document.getElementById("row"+y+"cancelled").style.display = "table-row";
        count2++;
        document.getElementById("count2").innerText = count2;
        document.getElementById("numberOfFiles").innerText = document.getElementById("numberOfFiles").innerText - 1;
        if (count2 >= numberOfFiles) {
            document.getElementById("active").style.display = "none";
            document.getElementById("greenButton").style.display = "block";
            document.getElementById("cancelledText").innerText = "All uploads have been cancelled";
            
        }
    }
    
    
    
    
    
    
    var whichOne;
    var whichOneCount = 3;
    
    function remove(x) {
        document.getElementById('overlay').style.display = "block";
        if (x == "row1") {
            //document.getElementById('file-name').innerHTML = "Plea document xxx";
        } else if (x == "row2") {
            //document.getElementById('file-name').innerHTML = "MC100 xxx";
        } else if (x == "row3") {
            //document.getElementById('file-name').innerHTML = "Other document one xxx";
        }
        whichOne = x;
    }
    
    function confirm() {
        whichOneCount = whichOneCount-1;
        document.getElementById(whichOne).style.display = "none";
        document.getElementById('overlay').style.display = "none";
        if (whichOneCount <= 0) {
            document.getElementById('noFilesAdded').style.display = "block";
            document.getElementById('filesAdded').style.display = "none";
        }
    }
    
</script>


{% include "includes/timeout-overlay.html" %}

<div id="overlay" style="display:none">
    <div id="overlay-info">
        <h3 class="heading-medium top_0 bottom_15">Remove a file</h3>
        <p class="top_15 bottom_15">Are you sure you want to remove the following file?</p>        
        <table class="removeFileTable">
            <tbody>
                <tr>
                    <td class="bold">Name</td>
                    <td id="file-name"></td>
                </tr>
                <tr>
                    <td class="bold">Type</td>
                    <td>PDF, 256KB, 3 pages</td>
                </tr>
                <tr>
                    <td class="bold">Uploaded on</td>
                    <td>15 January 2018</td>
                </tr>
                <tr>
                    <td class="bold">Upload time</td>
                    <td>10:56am</td>
                </tr>
            </tbody>
        </table>
        <input class="button top_20 bottom_15" type="submit" value="Confirm and remove file" onclick="confirm()">
        <p class="remove-link bottom_0" onclick="off()">cancel</p>
    </div>
</div>

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            {% include "includes/persist-info-banner.html" %}
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <div style="display:none">
                <p class="form-hint top_30 bottom_0">Plea document status: <span id="pleaDocumentStatus">{{data['pleaDocumentStatus']}}</span></p>
                <p class="form-hint bottom_0">Income document status: <span id="incomeDocumentStatus">{{data['incomeDocumentStatus']}}</span></p>
                <p class="form-hint">Other document status: <span id="otherDocumentStatus">{{data['otherDocumentStatus']}}</span></p>
            </div>

            <h1 id="uploadingHeader" class="heading-xlarge top_30 bottom_30">Uploading documents</h1>
            
            <div id="active">
                <img id="iconRed" src="/public/images/alert-icon-black.svg" style="float: left; margin-right:10px"><img id="iconGreen" src="/public/images/alert-icon-green.svg" style="float: left; margin-right:10px; display:none"><h2 id="uploadingText" class="heading-medium top_30 bottom_15" style="vertical-align: middle"><span id="count">0</span> of <span id="numberOfFiles">0</span> files uploaded successfully</h2>
            </div>
                        
            <div id="cancelled" style="display: none">
                <img id="iconRed" src="/public/images/alert-icon-red.svg" style="float: left; margin-right:10px"><h2 id="uploadingText" class="heading-medium top_30 bottom_15" style="vertical-align: middle; color: #B10E1E"><span id="cancelledText"><span id="count2">0</span> file(s) upload has been cancelled</span></h2>
            </div>
                        
         </div>
    </div>
    
    <div id="noFilesAdded" class="grid-row">
        <div class="column-full">
            <p>All file uploads have been cancelled.</p>
            
            <p class="top_30"><a href="case-details.html">Go back to case</a></p>
        </div>
    </div>
    
    <div id="filesAdded" class="grid-row">
        <div class="column-full">
 
            <table>
                <thead>
                    <tr>
                        <th scope="col" style="width:30%">Name</th>
                        <th scope="col" style="width:30%">Type</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col" style="width:30px"></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr id="row1" style="display: none">
                        <th scope="row">{{data['plea-document']}}</th>
                        <td>PDF, 256KB, 3 pages</td>
                        <td id="progressBar1" colspan="2">
                            <div id="container" style="vertical-align: top">
                                <div id="border"></div>
                                <div id="progress-bar-1"></div>
                            </div>
                        </td>
                        <td id="uploadDate1" colspan="2" style="display: none">Upload completed</td>
                        <td id="uploadCancelled1" style="display: none">Upload cancelled</td>
                        <td id="uploadTime1" style="display: none"></td>
                        <td id="row1cancel" class="remove-link" onclick="cancel('1')">Cancel</td>
                        <!--<td id="row1remove" class="remove-link" onclick="remove('row1')" style="display: none">Remove</td>-->
                    </tr>
                    <tr id="row1cancelled" style="display:none">
                        <th scope="row">{{data['plea-document']}}</th>
                        <td>PDF, 256KB, 3 pages</td>
                        <td colspan="3" style="color: #B10E1E">Upload cancelled</td>
                    </tr>
                    
                    <tr id="row2" style="display: none">
                        <th scope="row">{{data['income-document']}}</th>
                        <td>PDF, 256KB, 3 pages</td>
                        <td id="progressBar2" colspan="2">
                            <div id="container" style="vertical-align: top">
                                <div id="border"></div>
                                <div id="progress-bar-2"></div>
                            </div>
                        </td>
                        <td id="uploadDate2" colspan="2" style="display: none">Upload completed</td>
                        <td id="uploadCancelled2" style="display: none">Upload cancelled</td>
                        <td id="uploadTime2" style="display: none"></td>
                        <td id="row2cancel" class="remove-link" onclick="cancel('2')">Cancel</td>
                        <!--<td id="row2remove" class="remove-link" onclick="remove('row2')" style="display: none">Remove</td>-->
                    </tr>
                    <tr id="row2cancelled" style="display:none">
                        <th scope="row">{{data['income-document']}}</th>
                        <td>PDF, 256KB, 3 pages</td>
                        <td colspan="3" style="color: #B10E1E">Upload cancelled</td>
                    </tr>
                    
                    <tr id="row3" style="display: none">
                        <th scope="row">{{data['other-document']}}</th>
                        <td>PDF, 256KB, 3 pages</td>
                        <td id="progressBar3" colspan="2">
                            <div id="container" style="vertical-align: top">
                                <div id="border"></div>
                                <div id="progress-bar-3"></div>
                            </div>
                        </td>
                        <td id="uploadDate3" colspan="2" style="display: none">Upload completed</td>
                        <td id="uploadCancelled3" style="display: none">Upload cancelled</td>
                        <td id="uploadTime3" style="display: none"></td>
                        <td id="row3cancel" class="remove-link" onclick="cancel('3')">Cancel</td>
                        <!--<td id="row3remove" class="remove-link" onclick="remove('row3')" style="display: none">Remove</td>-->
                    </tr>
                    <tr id="row3cancelled" style="display:none">
                        <th>{{data['other-document']}}</th>
                        <td>PDF, 256KB, 3 pages</td>
                        <td colspan="3" style="color: #B10E1E">Upload cancelled</td>
                    </tr>
                    
                </tbody>
            </table>
            
            <form id="greenButton" class="form" action="" method="post" style="display: none">
                <div class="form-group">
                    <input class="button top_30" type="submit" value="Back to case">
                    <div class="top_15"><a href="upload-documents">Upload more documents</a></div>
                </div>
            </form>
            <!--<p class="top_30"><a href="javascript:history.go(-1);">Go back to case</a></p>-->

        </div>
        
        
    </div>
</main>

{% endblock %}


