{% extends "layout-CPP-no-sign-in.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                ATCM Court Administrator
                <span class="heading-secondary">Using GOV.UK prototype kit {{releaseVersion}}</span>
            </h1>{{releaseVersion | log }}
            
            <h2 class="top_60 bottom_10 heading-large">What does this prototype include?</h2>
            
            <p class="heading-medium">TfL</p>
            <ul class="list list-bullet">
                <li>Search for 'Smith' <span style="color:#6F777B">- Any other text will result in the same search results</span></li>
                <li>Add all details from postal reply</li>
                <li>Upload and remove files <span style="color:#6F777B">- "SJP notice" document can't be removed</span></li>
                <li>Change defendant details</li>
                <li>Find and print orders <span style="color:#6F777B">- "View and print order" links are not functional</span></li>
                <li>Print list of cases for public display</li>
                <li>Create register for the media</li>
            </ul>
            
            <p class="heading-medium">IdAM sign in</p>
            <ul class="list list-bullet">
                <ul class="list list-bullet bottom_0">
                    <li>Username can be anything</li>
                    <li>Password can be anything</li>
                </ul>
            </ul>
            
            <p class="heading-medium">IdAM sign out</p>
            <ul class="list list-bullet">
                <ul class="list list-bullet bottom_0">
                    <li>Signing out completely will take the user to the sign in page</li>
                </ul>
            </ul>

            <form class="form top_60" action="" method="post">
                <input class="button" type="submit" value="Let's get started">
            </form>
            
        </div>
    </div>
</main>

{% endblock %}


