{% extends "layout-CPP-no-sign-in.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                ATCM Court Administrator
                <span class="heading-secondary">Using GOV.UK prototype kit {{releaseVersion}}</span>
            </h1>{{releaseVersion | log }}
            
            <h2 class="top_60 bottom_10 heading-medium">What does this prototype include?</h2>
            
            <p class="heading-small">TfL</p>
            <ul class="list list-bullet">
                <li>Search for 'Smith' <span style="color:#6F777B">- Any other text will result in the same search results</span></li>
                <li>Upload and remove files flow <span style="color:#6F777B">- For Billy Smiths case found via 'Search for a case'</span></li>
                <li>Add or change personal details <span style="color:#6F777B">- Any changes made are not currently being saved</span></li>
            </ul>
            
            <p class="heading-small">IdAM sign in</p>
            <ul class="list list-bullet">
                <ul class="list list-bullet bottom_0">
                    <li>Username can be anything</li>
                    <li>Password can be anything</li>
                </ul>
            </ul>
            
            <p class="heading-small">IdAM sign out</p>
            <ul class="list list-bullet">
                <ul class="list list-bullet bottom_0">
                    <li>Signing out completely will take the user to GOV.UK homepage</li>
                </ul>
            </ul>

            <form class="form" action="" method="post">
                <input class="button" type="submit" value="Let's get started">
            </form>

        </div>
    </div>
</main>

{% endblock %}


