{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                ATCM Court Administrator
                <span class="heading-secondary">Using GOV.UK prototype kit {{releaseVersion}}</span>
            </h1>{{releaseVersion | log }}
            
            <p>This design demo is intended for user testing with court administrators and includes the following:</p>
            
            <ul class="list list-bullet">
                <li>upload and remove files flow</li>
            </ul>

            <div class="top_30"><a href="/courtadmin/dashboard">Let's get started</a></div>

        </div>
    </div>
</main>

{% endblock %}


